.venv/
*.pyc
__pycache__/
instance/
.webassets-cache
.env
.env.*
.pytest_cache/
.coverage
htmlcov/
migrations/
*.sqlite3
.DS_Store
*.tmp
*tmp
*.pstats
*.jpg
*.jpeg
*.png

#data
static/images/
best_models/
*.docx
