# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml

.venv/
*.pyc
__pycache__/
instance/
.webassets-cache
.env
.env.*
.pytest_cache/
.coverage
.platform/
htmlcov/
migrations/
*.sqlite3
.DS_Store


#data
static/images/
best_models/
*.docx
