p {
   color: black;
}

.bluetext {
   color: blue;
}

.title {
    margin-top: 0.5cm;
    text-align: center;
    margin-bottom: 1cm;
}

.space {
    margin-top: 0.5cm;
    margin-bottom: 1cm;
}

.top2 {
    margin-top: 1cm;
}

img {
    display: flex;
    margin: auto;
}

.center_img {
    display: flex;
    margin: auto;
    width: fit-content;
}

.center_p {
    text-align: center;
}

.bottom-three {
    margin-bottom: 3cm;
}

.bottom-one {
    text-align: center;
    margin-bottom: 1cm;
}

.left_p {
    text-align: left;
    width: 50%;
    margin-left: 25%;
}

.outer {
    text-align: center;
    width: fit-content;
    margin: auto;
    }
    
.outer_result {
    text-align: center;
    width: 50%;
    margin: auto;
    }
    
.inner {
    text-align: left;
    }

h4 {
    display: inline-block
}

.vert_mid {
    vertical-align: middle;
}


