{% extends "base.html" %}

{% block content %}
    <h1 class = "title">Results from the Age Predictor</h1>
    {% if pltbig %}
        <form action="#" method="post">
            <p class = "center_p"><input type="submit" name="submit_button" value="Try Another Image!"/></p>
        </form>
    {% endif %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% if pltbig %}
        <div class = "outer_result">
            <div class = "inner">
                <p style = "margin-top:1cm">Here is a plot of the original image with annotations to
                    the faces found in the image. Any errors will be displayed in the annotation.</p>
            </div>
        </div>
        <img src="{{bigfigpath}}" alt="User Image">
    {% endif %}
    {% if explainsmall %}
        <div class = "outer_result">
            <div class = "inner">
                <p class = space>Below are plots for the extracted face and its prediction. The prediction
                    shows the probability that the model ascribes to each age. For example, 
                    a height of .04 for age 20 on the PDF indicates that the model thinks 
                    there is a 4% chance that the face is 20 years old. </p>
            </div>
        </div>
    {% endif %}
    {% for fpath in figpath %}
    
        <img src="{{fpath}}" alt="User Image">
    {% endfor %}
    
    <form action="#" method="post">
        <p class = "center_p"><input type="submit" name="submit_button" value="Try Another Image!"/></p>
    </form>
{% endblock %}
